.movies-list{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 70px;
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -57px;
    margin-top: -50px;
}

#load-error-div{
    margin-top:30px;
    color: seagreen;
    font-size: 40px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border: transparent;
    border-radius: 5px;
    text-align: center;


}

@media screen and (max-width: 380px){
    #loader{
        margin-left: -40px;
    }
}